.orders_container {

    max-width: 800px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;;
    margin: auto;
    line-height: 50px;
    height: auto;
    padding: 15px;
    h2{
        text-align: left;
    }


   
    
    
}

.order_btn{
    background-color: var(--skin-color-primary);
    padding: 10px;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 200px;
    margin: auto;
}

    .img_order {
        margin: auto;
        display: block;
        height: 500px;
    }

   


