.sheet{
    box-shadow: var(--box-shadow);
    height: 400px;
    width: 500px;
    padding: 4px;
    display: flex;
    line-height: 60px;
    flex-direction: column;
     .group {
         display: flex;
     }
    .label-sheet{
        font-size: 20px;
    }
    span {
        font-size: 20px;
    }

}